.grid-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 20px;
    padding: 20px;
    outline: solid;
    outline-color: black;
}

.grid-items {
    background-color: #ddd;
    padding: 20px;
    text-align: center;
}

.navbar {
    display: flex;
    background-color: #333;
    padding: 10px;
    justify-content: space-between;
    align-items: center;
}
.navbar a {
    color: white;
    text-decoration: none;
    padding: 8px 16px;
}

@keyframes rotateAndScale {
    from {
        rotate: 0;
        scale: 1;
    }
    to {
        rotate: 45deg;
        scale: 1.5;
    }
}

.button {
    background-color: aqua;
    color: black;
    padding: 14px 28px;
    border: none;
    cursor: pointer;
    transition: background-color 1s ease;
    /* transition: transform 0.2s ease; */
}
.button:hover {
    background-color: bisque;
    /* transform: scale(.75) rotate(45deg); */
    animation: rotateAndScale 0.5s forwards;
}
.box {
    width: 100px;
    height: 100px;
    background-color: coral;
    margin: 50px;
    transition: transform 0.2s;
}
.box:hover {
    transform: scale(1.5) rotate(45deg);
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.modal {
    height: 100px;
    width: 100px;
    background-color: black;
    /* display: none; */
    animation: fadeIn 0.5s forwards;
}
.modal.show {
    display: block;
}