* {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

#container {
  margin: auto;
  width: 80%;
}

.js-demo {
  text-align: center;
  margin: auto;
}

#click-me {
  margin-bottom: 1em;
}

#color-box {
  background: rgb(20, 132, 212);
  height: 500px;
  width: 500px;
  margin: auto;
}
