.navbar {
  display: flex;
  justify-content: left;
  align-items: center;
  background-color: #333;
  padding: 10px;
}

.navbar a {
  color: white;
  text-decoration: none;
  padding: 8px 16px;
}

.wrapper {
  display: flex;
  width: 100%;
  height: 100%;
}
.sidebar {
  justify-content: center;
  border: 10px;
  border-color: black;
  padding-right: 10px;
}
.simulator {
  border: 1px solid black;
  width: 100vw;
  height: 100vh;
}
