.sidebar-wrapper {
  display: flex;
  width: 100%;
  height: 100%;
}

.sidebar {
  justify-content: center;
  border: 10px;
  border-color: black;
  padding-right: 10px;
  white-space: nowrap;
}

.sidebar textarea {
  width: 100%;
}

#simulator-wrapper {
  display: flex;
  flex-flow: column;
  border: 1px solid black;
  border-top: none;
  height: 100%;
  width: 100%;
}

.simulator {
  flex: 1 0 70vh;
  width: 100%;
}

.results {
  flex: 1 0 20vh;
  width: 100%;
  /* border: 1px solid black; */
  justify-content: center;
}

.results textarea {
  /* display: flex; */
  flex-flow: row;
  flex: 1 1 auto;
  width: 99%;
  height: 19vh;
  resize: none;
  outline: none;
}

#simulator-svg svg circle {
  fill: transparent;
  stroke: black;
  stroke-width: 1;
}

#simulator-svg svg text {
  text-anchor: middle;
  dominant-baseline: middle;
}

#simulator-svg .transition path {
  fill: transparent;
  stroke: black;
}

#simulator-svg .transition polygon {
  fill: black;
}

#simulator-svg .draggable {
  cursor: move;
}
